@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
	--background: oklch(0.9737 0.0089 214.3419);
	--foreground: oklch(0.3269 0.0390 211.2668);
	--card: oklch(1.0000 0 0);
	--card-foreground: oklch(0.3269 0.0390 211.2668);
	--popover: oklch(1.0000 0 0);
	--popover-foreground: oklch(0.3269 0.0390 211.2668);
	--primary: oklch(0.6847 0.1479 237.3225);
	--primary-foreground: oklch(0.9737 0.0089 214.3419);
	--secondary: oklch(0.9692 0.0122 29.8689);
	--secondary-foreground: oklch(0.4084 0.1165 38.1715);
	--muted: oklch(0.9410 0.0134 214.3602);
	--muted-foreground: oklch(0.4455 0.0374 257.2808);
	--accent: oklch(0.9542 0.0372 75.1644);
	--accent-foreground: oklch(0.4698 0.1430 37.3035);
	--destructive: oklch(0.6368 0.2078 25.3313);
	--destructive-foreground: oklch(0.9842 0.0034 247.8575);
	--success: oklch(0.55 0.15 155);
	--success-foreground: oklch(1 0 0);
	--warning: oklch(0.65 0.16 60);
	--warning-foreground: oklch(0.16 0.02 240);
	--border: oklch(0.8690 0.0198 252.8943);
	--input: oklch(0.9683 0.0069 247.8956);
	--ring: oklch(0.6847 0.1479 237.3225);
	--radius: 0.75rem;
	--chart-1: oklch(0.6847 0.1479 237.3225);
	--chart-2: oklch(0.7576 0.1590 55.9344);
	--chart-3: oklch(0.7845 0.1325 181.9120);
	--chart-4: oklch(0.7253 0.1752 349.7607);
	--chart-5: oklch(0.6268 0.2325 303.9004);
	--sidebar: oklch(0.9842 0.0034 247.8575);
	--sidebar-foreground: oklch(0.3717 0.0392 257.2870);
	--sidebar-primary: oklch(0.6847 0.1479 237.3225);
	--sidebar-primary-foreground: oklch(1.0000 0 0);
	--sidebar-accent: oklch(0.9683 0.0069 247.8956);
	--sidebar-accent-foreground: oklch(0.2077 0.0398 265.7549);
	--sidebar-border: oklch(0.9288 0.0126 255.5078);
	--sidebar-ring: oklch(0.6847 0.1479 237.3225);
	--font-sans: Inter, system-ui, sans-serif;
	--font-serif: Georgia, serif;
	--font-mono: JetBrains Mono, monospace;
	--shadow-color: 0, 0, 0;
	--shadow-opacity: 0.05;
	--shadow-blur: 15px;
	--shadow-spread: 0px;
	--shadow-offset-x: 0px;
	--shadow-offset-y: 4px;
	--letter-spacing: 0.025em;
	--spacing: 0.25rem;
	--shadow-2xs: 0px 4px 15px 0px hsl(0, 0, 0 / 0.03);
	--shadow-xs: 0px 4px 15px 0px hsl(0, 0, 0 / 0.03);
	--shadow-sm: 0px 4px 15px 0px hsl(0, 0, 0 / 0.05), 0px 1px 2px -1px hsl(0, 0, 0 / 0.05);
	--shadow: 0px 4px 15px 0px hsl(0, 0, 0 / 0.05), 0px 1px 2px -1px hsl(0, 0, 0 / 0.05);
	--shadow-md: 0px 4px 15px 0px hsl(0, 0, 0 / 0.05), 0px 2px 4px -1px hsl(0, 0, 0 / 0.05);
	--shadow-lg: 0px 4px 15px 0px hsl(0, 0, 0 / 0.05), 0px 4px 6px -1px hsl(0, 0, 0 / 0.05);
	--shadow-xl: 0px 4px 15px 0px hsl(0, 0, 0 / 0.05), 0px 8px 10px -1px hsl(0, 0, 0 / 0.05);
	--shadow-2xl: 0px 4px 15px 0px hsl(0, 0, 0 / 0.13);
	--tracking-normal: 0.05em;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-success: var(--success);
	--color-success-foreground: var(--success-foreground);
	--color-warning: var(--warning);
	--color-warning-foreground: var(--warning-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--font-sans: Inter, system-ui, sans-serif;
	--font-mono: JetBrains Mono, monospace;
	--font-serif: Georgia, serif;
	--radius: 1rem;
	--tracking-tighter: calc(var(--tracking-normal) - 0.05em);
	--tracking-tight: calc(var(--tracking-normal) - 0.025em);
	--tracking-wide: calc(var(--tracking-normal) + 0.025em);
	--tracking-wider: calc(var(--tracking-normal) + 0.05em);
	--tracking-widest: calc(var(--tracking-normal) + 0.1em);
	--tracking-normal: var(--tracking-normal);
	--shadow-2xl: var(--shadow-2xl);
	--shadow-xl: var(--shadow-xl);
	--shadow-lg: var(--shadow-lg);
	--shadow-md: var(--shadow-md);
	--shadow: var(--shadow);
	--shadow-sm: var(--shadow-sm);
	--shadow-xs: var(--shadow-xs);
	--shadow-2xs: var(--shadow-2xs);
	--spacing: var(--spacing);
	--letter-spacing: var(--letter-spacing);
	--shadow-offset-y: var(--shadow-offset-y);
	--shadow-offset-x: var(--shadow-offset-x);
	--shadow-spread: var(--shadow-spread);
	--shadow-blur: var(--shadow-blur);
	--shadow-opacity: var(--shadow-opacity);
	--shadow-color: var(--shadow-color);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--radius-2xl: calc(var(--radius) + 8px);
	--radius-3xl: calc(var(--radius) + 12px);
	--radius-4xl: calc(var(--radius) + 16px);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
		font-family: var(--font-sans);
		font-size: 15px;
		line-height: 1.5;
    letter-spacing: var(--tracking-normal);
	}
}

.dark {
	--background: oklch(0.1288 0.0406 264.6952);
	--foreground: oklch(0.9514 0.0250 236.8242);
	--card: oklch(0.2077 0.0398 265.7549);
	--card-foreground: oklch(0.9514 0.0250 236.8242);
	--popover: oklch(0.2077 0.0398 265.7549);
	--popover-foreground: oklch(0.9514 0.0250 236.8242);
	--primary: oklch(0.7535 0.1390 232.6615);
	--primary-foreground: oklch(0.2935 0.0632 243.1571);
	--secondary: oklch(0.2795 0.0368 260.0310);
	--secondary-foreground: oklch(0.7107 0.0351 256.7878);
	--muted: oklch(0.2795 0.0368 260.0310);
	--muted-foreground: oklch(0.7107 0.0351 256.7878);
	--accent: oklch(0.3791 0.1378 265.5222);
	--accent-foreground: oklch(0.8276 0.1013 230.3179);
	--destructive: oklch(0.3958 0.1331 25.7230);
	--destructive-foreground: oklch(0.8077 0.1035 19.5706);
	--border: oklch(0.2795 0.0368 260.0310);
	--input: oklch(0.2795 0.0368 260.0310);
	--ring: oklch(0.7535 0.1390 232.6615);
	--chart-1: oklch(0.7535 0.1390 232.6615);
	--chart-2: oklch(0.7253 0.1752 349.7607);
	--chart-3: oklch(0.8369 0.1644 84.4286);
	--chart-4: oklch(0.8003 0.1821 151.7110);
	--chart-5: oklch(0.6801 0.1583 276.9349);
	--radius: 1rem;
	--sidebar: oklch(0.1288 0.0406 264.6952);
	--sidebar-foreground: oklch(0.7107 0.0351 256.7878);
	--sidebar-primary: oklch(0.7535 0.1390 232.6615);
	--sidebar-primary-foreground: oklch(0.2935 0.0632 243.1571);
	--sidebar-accent: oklch(0.2795 0.0368 260.0310);
	--sidebar-accent-foreground: oklch(0.9842 0.0034 247.8575);
	--sidebar-border: oklch(0.2795 0.0368 260.0310);
	--sidebar-ring: oklch(0.7535 0.1390 232.6615);
	--success: oklch(0.45 0.12 155);
	--success-foreground: oklch(0.9 0.05 155);
	--warning: oklch(0.55 0.14 60);
	--warning-foreground: oklch(0.95 0.03 60);
	--font-sans: Inter, system-ui, sans-serif;
	--font-serif: Georgia, serif;
	--font-mono: JetBrains Mono, monospace;
	--shadow-color: 0, 0, 0;
	--shadow-opacity: 0.3;
	--shadow-blur: 25px;
	--shadow-spread: 2px;
	--shadow-offset-x: 0px;
	--shadow-offset-y: 10px;
	--letter-spacing: 0.05em;
	--spacing: 0.25rem;
	--shadow-2xs: 0px 10px 25px 2px hsl(0, 0, 0 / 0.15);
	--shadow-xs: 0px 10px 25px 2px hsl(0, 0, 0 / 0.15);
	--shadow-sm: 0px 10px 25px 2px hsl(0, 0, 0 / 0.30), 0px 1px 2px 1px hsl(0, 0, 0 / 0.30);
	--shadow: 0px 10px 25px 2px hsl(0, 0, 0 / 0.30), 0px 1px 2px 1px hsl(0, 0, 0 / 0.30);
	--shadow-md: 0px 10px 25px 2px hsl(0, 0, 0 / 0.30), 0px 2px 4px 1px hsl(0, 0, 0 / 0.30);
	--shadow-lg: 0px 10px 25px 2px hsl(0, 0, 0 / 0.30), 0px 4px 6px 1px hsl(0, 0, 0 / 0.30);
	--shadow-xl: 0px 10px 25px 2px hsl(0, 0, 0 / 0.30), 0px 8px 10px 1px hsl(0, 0, 0 / 0.30);
	--shadow-2xl: 0px 10px 25px 2px hsl(0, 0, 0 / 0.75);
}